<template>
  <div id="app">
    <div class="main-top">
      <van-nav-bar title="标题" left-text="返回" right-text="按钮" left-arrow />
    </div>
    <div class="sesson">
      <ul>
        <li>低1张 额哥哥</li>
        <li>低2张 额哥哥</li>
        <li>低3张 额哥哥</li>
        <li>低4张 额哥哥</li>
        <li>低5张 额哥哥</li>
        <li>低6张 额哥哥</li>
        <li>低7张 额哥哥</li>
        <li>低8张 额哥哥</li>
        <li>低9张 额哥哥</li>
        <li>低10张 额哥哥</li>
        <li>低11张 额哥哥</li>
        <li>低12张 额哥哥</li>
        <li>低13张 额哥哥</li>
        <li>低14张 额哥哥</li>
        <li>低15张 额哥哥</li>
        <li>低16张 额哥哥</li>
        <li>低17张 额哥哥</li>
        <li>低18张 额哥哥</li>
        <li>低19张 额哥哥</li>
        <li>低20张 额哥哥</li>
        <li>低21张 额哥哥</li>
        <li>低22张 额哥哥</li>
        <li>低23张 额哥哥</li>
      </ul>
      <router-view />
    </div>
    <div class="footer">
      <van-button type="warning">警告按钮</van-button>
      <van-button type="danger">危险按钮</van-button>
    </div>

  </div>
</template>

<script>
export default {
  components: {
  }
}
</script>

<style scoped lang="scss">
.sesson {
  flex: 1;
  overflow-y: auto;
  ul > li {
    font-size: 36px;
  }
}
</style>
